.modal.fade#myModal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal")
          &times;
        h4.modal-title#myModalLabel
            p What time should you go to sleep?
      .modal-body
        iframe(src="http://sleepyti.me")
      .modal-footer
