<h3> MC Lounge </h3>
<img src="http://placehold.it/275x150" />
<br><br>
<div> <b>Description</b> : Located at the heart of the University </div>
<div> <b>Rating</b> : 7.5 </div>
<div>You are within  <b>{{distance}}</b> kilometres from this point </div>
