<h3>{{name}}</h3>
<img src="http://placehold.it/275x150" />
<br><br>
<div> <b>Description</b>: {{description}}</div>
<div> <b>Rating</b>: {{rating}}</div>
<div>You are within  <b>{{distance}}</b> kilometres from this point </div>
