<div class="spotConfirm">
    <div class="confirm section">
        Are you sure you wish to create a new Spot here?
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-danger">NO! GET ME OUT.</button>
    </div>
    <div class="form section">
        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="MC Comfy" name="name">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
