body{
    padding:0;
    margin:0;
}
html, body, #map {
    height: 100%;
}

.searchBox {
    width: 300px;
}

.navbar {
    background: transparent;
    border: none;
}

#myModal {
    margin-top: 0;
}